<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/select">Satisfaction Survey</a>
      <!-- <a href="/personality">Personality Quiz</a> -->
    </nav>
    <h1>
      {% block h1 %} Welcome! Please choose your desired activity below:
      {%endblock%}
    </h1>
    <form action="/start" method="POST">
      <input type="radio" id="survey" value="satisfaction" name="activity" />
      <label for="survey">Satisfaction Survey</label><br />
      <input type="radio" id="quiz" value="personality" name="activity" />
      <label for="quiz">Personality Quiz</label>
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
