{% extends "list.html" %}
{%block title%}{%endblock%}
{% block body %}
  <br>
  <br>
  <form action="/posts/{{post.id}}/edit" method="POST">
    <label for="postTitle">Post Title</label>
    <input id="postTitle" name="title" placeholder="Post Title" value={{post.title}} />
    <br>
    <label for="postContent">Post Content</label>
    <input id="postContent" name="content" placeholder="Post Content" value={{post.content}} />
    <br>
    <br>
    <div class="button-container">
      <a id="cancel" href="/users/{{post.user.id}}">
        <button class="red">Cancel</button>
      </a>
      <a id="save">
        <button class="blue">Save</button>
      </a>
    </div>
  </form>
  
  {%endblock%}
