{% extends "list.html" %}
{%block title%}{%endblock%}
{% block body %}
  <h2>{{post.title}}</h2>
  <p>{{post.content}}</p>
  <br>
  <p>by <a href="/users/{{post.user.id}}">{{post.user.first_name}} {{post.user.last_name}}</a></p>
  <div class="button-container">
    <a id="deleteUser">
      <button class="red">Delete Post</button>
    </a>
    <a  href="/posts/{{post.id}}/edit">
      <button class="blue">Edit Post</button>
    </a>
  </div>

  <script type="text/javascript" defer>
    console.log("Hello world!")
    const deleteBtn = document.querySelector("#deleteUser");
    console.log(deleteBtn);
    let delCount = 3;
    deleteBtn.addEventListener('click', () => {
      if (delCount < 1) {
        deleteBtn.href="/posts/{{post.id}}/delete"
      };
      deleteBtn.children[0].textContent = `Delete? ${delCount}`
      delCount--;
    });
    deleteBtn.addEventListener('mouseleave', () => {
      delCount = 3;
      deleteBtn.children[0].textContent = "Delete Post";
      deleteBtn.href = '';
    }); 
  </script>
  {%endblock%}
  <!-- deleteBtn.addEventListener('mouseover', () => {
    deleteBtn.textContent = "Confirm?"  
  });
